html,
body {
  font-family: Roboto, Arial, sans-serif;
}
.widget-floorpicker {
  background: none repeat scroll 0% 0% #FFF;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
  width: 29px;
  overflow: hidden;
  -moz-user-select: none;
}
.widget-floorpicker {
  text-align: center;
}
.widget-floorpicker-slider {
  position: relative;
  transition: all 120ms ease-in-out 0s;
}
a,
button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
ol,
p,
ul,
th {
  margin: 0px;
  padding: 0px;
  border: 0px none;
  outline: 0px none;
  font: inherit;
  vertical-align: baseline;
  background: none repeat scroll 0% 0% transparent;
  list-style: none outside none;
}
.widget-floorpicker {
  text-align: center;
}
a,
button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
ol,
p,
ul,
th {
  font: inherit;
  list-style: none outside none;
}
.widget-floorpicker-button {
  z-index: 2;
  color: #666;
  font-size: 14px;
  background-color: #FFF;
  width: 29px;
  height: 29px;
  cursor: pointer;
  box-sizing: border-box;
  transition-duration: 0.16s;
  transition-property: background-color;
  transition-timing-function: ease-out;
}
.widget-floorpicker-button-selected {
  color: #000;
  background: none repeat scroll 0% 0% #F1F1F1;
  font-weight: bold;
}
#floors {
  position: absolute;
  top: 85px;
  right: 20px;
  z-index: 6;
}
/**** cards **/

.cards-card,
.cards-collapsed a,
.cards-collapsed .cards-strong {
  color: #666;
}
.cards-card {
  padding: 13px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 12px;
  line-height: 16px;
  outline: none;
  overflow: hidden;
  position: absolute;
  width: 400px;
  z-index: 0;
  -webkit-transition: background-color 200ms cubic-bezier(0.52, 0, 0.48, 1);
  -moz-transition: background-color 200ms cubic-bezier(0.52, 0, 0.48, 1);
  -ms-transition: background-color 200ms cubic-bezier(0.52, 0, 0.48, 1);
  -o-transition: background-color 200ms cubic-bezier(0.52, 0, 0.48, 1);
  transition: background-color 200ms cubic-bezier(0.52, 0, 0.48, 1);
}
#cards {
  -webkit-transition: opacity 200ms cubic-bezier(0.52, 0, 0.48, 1);
  -moz-transition: opacity 200ms cubic-bezier(0.52, 0, 0.48, 1);
  -ms-transition: opacity 200ms cubic-bezier(0.52, 0, 0.48, 1);
  -o-transition: opacity 200ms cubic-bezier(0.52, 0, 0.48, 1);
  transition: opacity 200ms cubic-bezier(0.52, 0, 0.48, 1);
  opacity: 1;
}
#cards {
  -webkit-transform: translateZ(0);
  margin-left: 10px;
  padding: 6px;
  top: 0;
  z-index: 9;
  width: 400px;
  outline: none;
  position: absolute;
}
.cards-entity {
  padding-right: 0px;
}
.cards-padding {
  padding: 13px;
}
/*esri css*/

.esriSimpleSlider {
  position: absolute;
  text-align: center;
  border: none;
  background-color: none;
  color: none;
  -webkit-user-select: none;
}
.esriSimpleSliderTL {
  top: 20px;
  right: 20px;
  left: initial;
  border-radius: 0;
}
.esriSimpleSlider div {
  background: none repeat scroll 0% 0% #FFF;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 29px;
  overflow: hidden;
  -moz-user-select: none;
}
.esriSimpleSliderVertical .esriSimpleSliderIncrementButton,
.esriSimpleSliderVertical .esriSimpleSliderDecrementButton {
  border-bottom: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
h1 {
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 2px;
}
h2 {
  font-size: 16px;
}
/** legend **/

#legend ul {
  margin: 10px 10px 4px 0px;
}
#legend .input-color {
  position: relative;
}
#legend .input-color input {
  padding-left: 20px;
}
#legend .input-color .color-box {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: #ccc;
  position: absolute;
  left: 0px;
  top: 0px;
}
#legend li {
  display: inline-block;
  width: 32%;
}
